<router-outlet>
  <div class="container homeContent">
    <div class="row">
      <div class="col">
        <div class="card">
          <img
            src="assets/todo1.jpg"
            class="card-img-top"
            alt="logo1"
            style="min-height: 200px;"
          />
          <div class="card-body">
            <h5 class="card-title">View all to do items</h5>
            <p class="card-text">
              Click the button below to view the your to do list
            </p>
            <a [routerLink]="'all'" class="btn btn-primary">View All</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="assets/todo2.jpg"
            class="card-img-top"
            alt="logo2"
            style="min-height: 200px;"
          />
          <div class="card-body">
            <h5 class="card-title">Create a new to do item</h5>
            <p class="card-text">
              Click the button below to create a new to do item
            </p>
            <a [routerLink]="'new'" class="btn btn-primary">Add New</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="assets/todo3.jpg"
            class="card-img-top"
            alt="logo3"
            style="max-height: 200px;"
          />
          <div class="card-body">
            <h5 class="card-title">View high priority to do items</h5>
            <p class="card-text">
              Click the button below to view high priority to do items
            </p>
            <a [routerLink]="'priority'" class="btn btn-primary"
              >High Priority</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</router-outlet>
